@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
html {
    background-color: gray;
}
body {
    background-color: black;
    text-align: center;
    margin: auto;
}
.width {
    width: 80%;
    margin: auto;
}
h1 {
    color: white;
}
p {
    color: lightgray;
}
section.pagina {
    margin-top: 0px;
}
.nav-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
}
a.logo {
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: left;
}
a.logo:hover {
    color: rgb(173, 173, 0);
}
nav a {
    text-decoration: none;
    color: white;
    padding: 8px;
}
nav a:hover {
    text-decoration: underline;
    color: rgb(173, 173, 0);
}
.botao {
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    background-color: rgb(173, 173, 0);
}
.botao:hover {
    background-color: rgb(201, 201, 0);
    font-size: 1.01em;
    transition: 0.4s;
}
a {
    text-decoration: none;
    color: black;
}
.title {
    width: 650px;
    text-align: left;
    min-height: 250px;
}
.title h1 {
    font-size: 3.5em;
}
section.parceiros {
    text-align: center;
    background-color: black;
}
.classe {
    height: 30px;
    width: 13%;
    padding: 20px;
}